.mx--8-sm-only{
    @media  (max-width:$sm){
        margin-left: 8px;
        margin-right: 8px;
    }
}
.mx--8{
        // @media  (max-width:$sm){
        margin-left: 8px;
        margin-right: 8px;
        // }
}


.my--16{
    margin-top: 16px;
    margin-bottom: 16px;
}
.my--32{
    margin-top: 32px;
    margin-bottom: 32px;
}
.my--36{
    margin-top: 36px;
    margin-bottom: 36px;
}

.my--40{
    margin-top: 40px;
    margin-bottom: 40px;
}

.ml--4{
    margin-left: 4px;
}
.ml--8{
    margin-left: 8px;
}
.ml--16{
    margin-left: 16px;
}

.ml--20{
    margin-left: 20px;
}
.mr--4{
    margin-right: 4px;
}
.mr--8{
    margin-right: 8px;
}
.mr--16{
    margin-right: 16px;
}

.mr--20{
    margin-right: 20px;
}

.mb--4{
    margin-bottom: 4px;
}
.mb--8{
    margin-bottom: 8px;
}
.mb--16{
    margin-bottom: 16px;
}

.mb--20{
    margin-bottom: 20px;
}

.mb--24{
    margin-bottom: 24px;
}

.mb--28{
    margin-bottom: 28px;
}

.mb--32{
    margin-bottom: 32px;
}


.mb--36{
    margin-bottom: 4px;
}
.mb--40{
    margin-bottom: 8px;
}
.mb--44{
    margin-bottom: 16px;
}

.mb--48{
    margin-bottom: 20px;
}

.mb--52{
    margin-bottom: 24px;
}

.mb--56{
    margin-bottom: 28px;
}

.mb--60{
    margin-bottom: 4.285rem;
}
.mb--64{
    margin-bottom: 4.57rem;
}
.mb--68{
    margin-bottom: 4.86rem;
}
.mb--4-sm{

    @include breakpoint(sm){
        margin-bottom: 4px;
    }
}
.mb--0-sm{
    @include breakpoint(sm){
    margin-bottom: 0;
}
}

.mb--8-sm{
    @include breakpoint(sm){
    margin-bottom: 8px;
}
}
.mb--16-sm{
    @include breakpoint(sm){
       margin-bottom: 16px;
    }
}

.mb--20-sm{
    @include breakpoint(sm){
    margin-bottom: 20px;
    }
}

.mb--24-sm{

    @include breakpoint(sm){
    margin-bottom: 24px;
    }
}

.mb--28-sm{
    @include breakpoint(sm){
        margin-bottom: 28px;
    }
}

.mb--32-sm{
    @include breakpoint(sm){
        margin-bottom: 32px;
    }
}


.mb--36-sm{
    @include breakpoint(sm){
        margin-bottom: 36px;
    }
}
.mb--40-sm{
    @include breakpoint(sm){
        margin-bottom: 40px;
    }
}
.mb--44-sm{
    margin-bottom: 16px;
}

.mb--48-sm{
    margin-bottom: 20px;
}

.mb--52-sm{
    margin-bottom: 24px;
}

.mb--56-sm{
    margin-bottom: 28px;
}

.mb--60-sm{
    margin-bottom: 4.285rem;
}
.mb--64-sm{
    margin-bottom: 4.57rem;
}
.mb--68-sm{
    margin-bottom: 4.86rem;
}

.mt--12{
    margin-top: 12px;
}
.mt--12-sm-only{
    @media  (max-width:$sm){
        margin-top: 12px;
    }
}
.mt--16{
    margin-top: 16px;
}
.mt--16-sm-only{
    @media  (max-width:$sm){
        margin-top: 16px;
    }
}
.mt--16-md-only{
    @media  (max-width:$md){
        margin-top: 16px;
    }
}
.mt--20{
    margin-top: 20px;
}

.mt--24{
    margin-top: 24px;
}

.mt--28{
    margin-top: 28px;
}

.mt--32{
    margin-top: 32px;
}
.mt--48{
    margin-top: 48px;
}
.mt--56{
    margin-top: 56px;
}
