.pb--0-sm-only{
    @media  (max-width:$sm){
        padding-bottom:0;
    }
}

.px--16{
    padding-left: 16px;
    padding-right: 16px;
}
.px--12-sm-only{
    @media  (max-width:$sm){
        padding-left: 12px;
        padding-right: 12px;
    }
}
.px--16-sm-only{
    @media  (max-width:$sm){
        padding-left: 16px;
        padding-right: 16px;
    }
}
.px--8-sm-only{
    @media  (max-width:$sm){
        padding-left: 8px;
        padding-right: 8px;
    }
}
.px--8{
        // @media  (max-width:$sm){
        padding-left: 8px;
        padding-right: 8px;
        // }
}


.pb--40{
    padding-bottom: 40px;
}
.pb--56{
    padding-bottom: 56px;
}