$black: #111417;

$cherry: #ED2F52;
$cherry50: rgba(237, 47, 82, 0.5);

$el-1: rgba(255,255,255,0.05);
$el-2: rgba(255,255,255,0.07);
$el-3: rgba(255,255,255,0.08);
$el-4: rgba(255,255,255,0.09);
$el-6: rgba(255,255,255,0.11);
$el-8: rgba(255,255,255,0.12);
$el-12: rgba(255,255,255,0.14);
$el-16: rgba(255,255,255,0.15);
$el-24: rgba(255,255,255,0.16);

$white100: rgba(255,255,255,0.1);
$white200: rgba(255,255,255,0.2);
$white300: rgba(255,255,255,0.3);
$white400: rgba(255,255,255,0.4);
$white500: rgba(255,255,255,0.5);
$white600: rgba(255,255,255,0.6);
$white700: rgba(255,255,255,0.75);
$white800: rgba(255,255,255,0.87);
$white900: rgba(255,255,255,0.97);

