
.material-icons {

	font-family: 'Material Icons'!important;}
// =============================================================================
// String Replace
// =============================================================================



@mixin  text-14 {
		font-size: 14px;
		font-weight: normal;
}