
@mixin flex-between-center{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
@mixin inline-flex-between-center{
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
}
@mixin flex-align-center{
    display: flex;
    align-items: center;
}
@mixin inline-flex-align-center{
    display: inline-flex;
    align-items: center;
}


@mixin b-radius-4{
    border-radius: 4px;
}
@mixin b-radius-8{
    border-radius: 8px;
}
@mixin b-radius-full{
    border-radius: 100%;
}


@mixin border-white-1 {
    border: 1px solid $white100;
}


@mixin  shadow-el-2 {
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1), 0px 3px 6px rgba(0, 0, 0, 0.15);
}
@mixin  shadow-el-3 {
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1), 0px 10px 20px rgba(0, 0, 0, 0.15);
}