#music-stats{
    max-width: 280px;
    width: 100%;
    margin-left: 32px;
}
aside{
    padding: 24px;
    max-width: 268px;
    width: 100%;
    height: calc(100vh - 10.5rem);
    position: fixed;
    top: 66px;
    background-color: $black;
    z-index: 10;

}

.playlist-playing-container{
    position: absolute;
    bottom: 24px;
}

.app-container{
    width: calc(100% - 268px);
    // height: 100vh;
    margin-left: auto;
    margin-right: 0;
    position: fixed;
    top: 72px;
    height: calc(100vh - 10.5rem);
    right: 0;
    overflow: hidden;
    display: flex;
}

.section-container {
    width: 60%;
    max-width: 960px;
    min-width: 740px;
    margin-left: 8%;
    position: relative;
}

.section-body {
    position: relative;
}



.section-header{
    @include flex-between-center;
    padding: 0 16px;
}