body{
    overflow: hidden;
}

aside{
    padding: 24px;
    max-width: 268px;
    width: 100%;
    height: calc(100vh - 4.5rem);
    position: fixed;
    top: 66px;
    z-index: -1;
    transition: all 500ms;
    left: -30%;
    opacity: 0;
    @include breakpoint(lg){
        left: 0;
        z-index: 1;
        opacity: 1;
    }
    &::before{
        content: ' ';
        position: fixed;
        height: 100%;
        width: 100%;
        background: linear-gradient(90deg, rgba(17,20,23,0.9) 10%, rgba(17,20,23,0.8) 70%, rgba(17,20,23,0.5) 100%);
        top: 0;
        right: 0;
        @include breakpoint(lg){
            display: none;
        }
    }

}


aside.show{
    z-index: 99;
    left: 0;    
    opacity: 1;
    @include breakpoint(lg){
       
    }

}
.playlist-playing-container{
    position: absolute;
    bottom: 112px;
    width: 240px;

    .current-playlist-img{
        width: 100%;
        margin: 16px 0;
        @include b-radius-4;
    }

    @include breakpoint(lg){
        bottom: 56px;
    }
}

.app-container{
    margin-right: auto;
    position: fixed;
    top: 66px;
    height: calc(100vh - 4.5rem);
    overflow-y: hidden;
    width: 100%;
    @include breakpoint(lg){
        margin-left: 10px;
    }

}


.section-container {
    width: 100%;
    min-width: 640px;
    margin: auto;
    position: relative;
    height: 100%;
    overflow: hidden;
    padding: 40px 20px 0;
    @include breakpoint(lg){
        padding: 40px 0 0;
        width: 50%;
        max-width: 960px;
        right: 10px;

    }
    @include breakpoint(xl){
        width: 60%;
        max-width: 1200px;
        min-width: 740px;
    }

    &::-webkit-scrollbar {
        display: none;
    }
    &::-moz-scrollbar {
        display: none;
    }
}
.action-container {
    width: 100%;
    min-width: 640px;
    margin: auto ;
    position: absolute;
    background: $black;
    min-height: 400px;
    height: 100%;
    top: 0;
    padding:  40px 24px;
    z-index: 999;
    @include breakpoint(lg){
        max-width: 960px;
        width: 50%;
        right: 10px;
        left: -10px;
        height: 100%;
        top: 0;
        padding:  40px 0;
    }
    @include breakpoint(lg){
        width: 50%;
    }
    @include breakpoint(xl){
        width: 60%;
        max-width: 1200px;
        min-width: 740px;
    }
    &::-webkit-scrollbar {
        display: none;
    }
    &::-moz-scrollbar {
        display: none;
    }
}

.section-body {
    position: relative;
    overflow-y: scroll;
    height: calc(100% - 48px);

    @include breakpoint(lg){
        padding: 0;
        padding-right: 3px;
        // padding: 0 24px;
        margin-right: -20px;
        padding-right: 3px;

    }
}



.section-header{
    @include flex-between-center;
    padding: 0 24px;
    flex-wrap: wrap;
    position: sticky;
    top: 0;
    background: $black;
    z-index: 1;
    @include breakpoint(md){
        padding: 0 16px;
    }

}


.section-header-description{
    width: 100%;
    display: inline-block;
    margin: 24px 0;
}