body{
    overflow: hidden;
}
#music-stats{
    max-width: 280px;
    width: 100%;
    margin-left: 32px;
    position: fixed;
    right: 2.5%;

}
aside{
    padding: 24px;
    max-width: 268px;
    width: 100%;
    height: calc(100vh - 10.5rem);
    position: fixed;
    top: 66px;
    background-color: $black;
    z-index: 10;

}

.playlist-playing-container{
    position: absolute;
    bottom: 24px;
}

.app-container{
    margin-left: 20px;
    margin-right: auto;
    position: fixed;
    top: 72px;
    height: calc(100vh - 11rem);
    overflow-y: scroll;
    width: 100%;
}


.section-container {
    width: 50%;
    max-width: 960px;
    min-width: 740px;
    margin: auto ;
    position: relative;
    right: 10px;
    // width: 60%;
    // max-width: 960px;
    // min-width: 740px;
    // margin-left: 8%;
    // position: relative;
    // overflow-y: scroll;
    // -ms-overflow-style: none;
    &::-webkit-scrollbar {
        display: none;
    }
    &::-moz-scrollbar {
        display: none;
    }
}

.section-body {
    position: relative;
}



.section-header{
    @include flex-between-center;
    padding: 0 16px;
}