.app-header{
    padding: 12px 24px;
    display: flex;
    position: sticky;
    top: 0;
    background-color: $black;
    z-index: 10;
    justify-content: space-between;
}
.branding{
    max-width: 268px;
}

.top-bar{
    display: inline-flex;
    align-items: center;
    margin-left: auto;
    width: 50%;
}


.back-arrow{
    border: none;
    outline: none;
    background-color: unset;
    color: $white500;
    font-size: 20px;
    display: flex;
    padding: 6px;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0 16px;
    i{
        font-size: 20px;
    }
    &:hover{
        color: $white900;
    }
}


.search-bar{
    border: none;
    outline: none;
    height: auto;
    background-color: $white100;
    display: flex;
    align-items: center;
    min-width: 420px;
    @include b-radius-4;
    .form-control{
        background-color: unset;
        outline: unset;
        border: none;
        color: $white500;
        padding: 8px 16px;
        line-height: 1.45;
        height: auto;
        width: 100%;
        &:focus{
            background-color: unset;
            outline: unset;
            border: none;
            color: $white900; 
            box-shadow: unset;
        }
    }
}
.search-dropdown-label{
    padding: 0 12px;
    border-left: 1px solid $white300;
    color: $white300;
    line-height: 1;
    min-width: 96px;
    display: flex;
    margin: 0;
    &::after{
        content: 'arrow_drop_down';
        font-family: 'Material icons';
        margin-left: 8px;
    }
}
#top-bar-links{
    display: inline-block;
    position: relative;
    margin: 0 0 0 auto;
}


.user-dropdown{
    display: flex;
    align-items: center;
}

.user-profile-pic{
    max-height: 24px;
    border-radius: 24px;
    margin-left: 8px;
    height: auto;
}