

.nav-container{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin-top: 96px;
    position: relative;
    @include breakpoint(md){
        margin-top: -32px;

    }
    @include breakpoint(lg){
        margin-top: 96px;

    }
}

.nav-item-icon{
    display: block;
    content: " ";
    height: 20px;
    width: 20px;
    margin-right: 16px;
    background-size: 20px;
    background-repeat: no-repeat;
    background-position: center;
}

.nav-item{
    display: flex;
    align-items: center;
    padding: 8px 0;
    margin: 8px 0;
    color: $white500;

}

.nav-item:hover{
    color: $white900;
    text-decoration: none;
}
.nav-item.active{
    color: $white900;
    text-decoration: none;
}
.nav-item.active::before{
    display: block;
    content: " ";
    height: 20px;
    width: 3px;
    background-color: $cherry;
    left: -24px;
    position: absolute;
    
}

.nav-item-icon.playlist{
    background-image: url('../../img/playlist-icon.svg');


}
.nav-item:hover .nav-item-icon.playlist{
    background-image: url('../../img/playlist-icon-fill.svg');

}
.nav-item.active .nav-item-icon.playlist{
    background-image: url('../../img/playlist-icon-fill.svg');

}
.nav-item-icon.songs{
    background-image: url('../../img/songs-icon.svg');


}
.nav-item:hover .nav-item-icon.songs{
    background-image: url('../../img/songs-icon-fill.svg');

}
.nav-item.active .nav-item-icon.songs{
    background-image: url('../../img/songs-icon-fill.svg');


}