.grid-actions-container{
    position: relative;
    margin: 0 0 0 auto;
    @include flex-align-center;
}


.grid-list-item:hover .btn-container{
    margin: 0 32px 0 0;
    position: relative;
    top: 0px;
    opacity: 1;
}
.grid-list-item  .btn-container{
    margin: 0 32px 0 0;
    position: relative;
    top: 56px;
    opacity: 0;
}
.grid-list-item.to-merge  .btn-container{
    margin: 0 32px;
    position: relative;
    top: 56px;
    opacity: 0;
    display: none;
}
.grid-list-item.to-merge:hover  .btn-container{
    margin: 0 32px;
    position: relative;
    top: 56px;
    opacity: 0;
}

.toggle-label{
    margin: 0 16px 0 0;
    display: flex;
    align-items: center;
    // font-weight: bold;
    font-size: 12px;
    color: $white500;
    letter-spacing: 0.5px;
    position: relative;
    &.hide{
        top: 54px;
    }

}   
.toggle-container{
    position: relative;
    top: 0;
    &.hide{
        top: 54px;
    }
}   

.btn-group-toggle{
    margin-left: 12px;
    margin-right: 12px;
}

.btn-toggle{
 border: none;
 background-color: $white100;
 width: 100%;
 min-width: 32px;
 max-width: 32px;
 position: relative;
 display: block;
 padding: 0;
 border-radius: 24px;
}   

.btn-toggle hr{
    border: none;
    height: 12px;
    width: 12px;
    background-color: $white300;
    margin-top: 2px;
    margin-bottom: 2px;
    margin-left: 2px;
    margin-right: 2px;
    left: 0;
    pointer-events: none;
    position: relative;
    border-radius: 24px;
}   
.btn-toggle.active hr{
    background-color: $white900;
    left: 15px;
    position: relative;
}   

#top-bar-links:hover .dropdown-items, .btn-options:hover .dropdown-items{
    opacity: 1;
    pointer-events: visible;
    cursor: pointer;
}

.dropdown-items{
    pointer-events: none;
    min-width: 96px;
    position: absolute;
    text-align: right;
    opacity: 0;
    font-size: 14px;
    padding: 0 8px;
    right: -8px;
    @include b-radius-8;
    top: 40px;
    background-color: $black;
    z-index: 99;
    @include shadow-el-3;

    &::after{
        width: 100%;
        height: 24px;
        content: " ";
        position: absolute;
        top: -8px;
        left: 0;
        right: 0;
        margin: auto;
    }

    &::before{
        position: absolute;
        top: 0;
        content: ' ';
        background-color: $el-4;
        height: 100%;
        width: 100%;
        z-index: 1;
        right: 0;
        @include b-radius-8;

    }
}
.dropdown-items a, .dropdown-items  button{
    padding: 12px 8px;
    display: block;
    line-height: 1.2;
    width: 100%;
    z-index: 9;
    position: relative;
    color: $white500;
    text-decoration: none;
    border-bottom: 1px solid $el-1;

    &:last-child{
        border-bottom: none;
    }

    &:hover{
        border-bottom: 1px solid $el-1;
        color: $white900;
        &:last-child{
            border-bottom: none;
        }
    }

}

// .dropdown-items::before{
//     display: block;
//     content: " ";
//     height: 100%;
//     width: 100%;
//     background-color: $black;
//     left: 0;
//     top: 0;
//     position: absolute;
//     z-index: -1
// }

.btn-action .tooltip{
    pointer-events: none;
}
.btn-action:hover .tooltip{
    opacity: 1;
    background: $black;
    min-width: 84px;
    text-align: center;
    padding: 8px;
    width: auto;
    max-width: 120px;
    display: inline-block;
    top: 36px;
    // overflow: hidden;
    font-size: 12px;
    line-height: 1;
    @include b-radius-8;
    margin: auto;
    left: -25px;
    @include shadow-el-3;

}

.tooltip::after{
    width: 16px;
    height: 8px;
    content: " ";
    position: absolute;
    top: -8px;
    left: 0;
    right: 0;
    margin: auto;
    background-image: url("../../img/arrow_left.svg");
    background-repeat: no-repeat;
    background-position: center;
}
.tooltip::before{
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    background-color: $el-12;
    content: ' ';
    @include b-radius-8;

}

.app-loading{
    background: $black;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
}
.app-loading{
    background: $black;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content-loading{
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 72px 0;
}


 /* width */
 ::-webkit-scrollbar {
    width: 8px;
    background-color: transparent;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: unset;
    background-color: transparent;
    padding: 2px;

  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: $white100;
    border-radius: 4px;
    // position: absolute;
  } 