#playback{
    display: block;
    background-color: $el-1;
    bottom: 0;
    width: 100%;
    margin: 16px 0;
}

.current-song{
    @include flex-align-center;
}

.current-song-img{
    height: auto;
    @include b-radius-4;
    width: 32px;
    margin-right: 16px;
}

.playback-controller{
    width: 666px;
    @include flex-between-center
}
.playback-btn-container{
    display: flex;
    justify-content: center;
    margin: 16px 0;
}
.playback-timer{
    @include flex-align-center;
}

.progress-bar{
    width: 334px;
    height: 4px;
    margin: 0 12px;
    background-color: $white300;
    @include b-radius-4;
    position: relative;
    overflow: hidden;
}
.progress-bar-tracker{
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 50%;
    height: 4px;
    background-color: $cherry;
    @include b-radius-4;
}