.subtitle{
    font-size: 20px;
}

.text{
    @include text-14;
    color: $white500;
    display: block;
    line-height: 1.4;
}

.legend{
    @include text-12;
    color: $white500;
}

.text-small{
    @include text-12;
    color: $white500;
    display: block;
    line-height: 1.4;
}

.highlight{
    color: $white900;
}

.label{
    @include text-14;
    color: $white500;
}

.pill{
    @include text-14;
    @include b-radius-4;
    background: $white100;
    color: $white500;
    padding: 4px 12px;
    margin: 0 8px;
    text-transform: capitalize;
    line-height: 1.1;
    display: inline-block;
    &:first-child{
        margin-left: 0;
    }
}

.up-next{
    overflow: hidden;
    p{
        white-space: nowrap;
    }
}